body {
  margin: 2;
  background-color: #98aec9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  width: 100%;
  margin-top: 2rem;
  background-color: rgb(225, 232, 238);
  border-radius: 10px;
}

tbody td .avatar {
  font-family: 'Courier New', Courier, monospace;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
}

.table-title {
  color: #fff;
  font-size:xx-large;
  background: #5f677b;		
  padding: 16px 25px;
  border-radius: 10px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #8195ab
}

.table th,
.table thead th {
  padding: 0.5rem;
  vertical-align: top;
  font-weight:600;
  text-align: center;
}

.table td {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




